CapaNegocio/Connected Services/ServiceDepartamento/WebServiceDepartamento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insertarDepartamentoService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="departamento" type="tns:Departamento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Departamento">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="insertarDepartamentoServiceResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertarDepartamentoServiceSoapIn">
    <wsdl:part name="parameters" element="tns:insertarDepartamentoService" />
  </wsdl:message>
  <wsdl:message name="insertarDepartamentoServiceSoapOut">
    <wsdl:part name="parameters" element="tns:insertarDepartamentoServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceDepartamentoSoap">
    <wsdl:operation name="insertarDepartamentoService">
      <wsdl:input message="tns:insertarDepartamentoServiceSoapIn" />
      <wsdl:output message="tns:insertarDepartamentoServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceDepartamentoSoap" type="tns:WebServiceDepartamentoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarDepartamentoService">
      <soap:operation soapAction="http://tempuri.org/insertarDepartamentoService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceDepartamentoSoap12" type="tns:WebServiceDepartamentoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarDepartamentoService">
      <soap12:operation soapAction="http://tempuri.org/insertarDepartamentoService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceDepartamento">
    <wsdl:port name="WebServiceDepartamentoSoap" binding="tns:WebServiceDepartamentoSoap">
      <soap:address location="https://localhost:44323/WebServiceDepartamento.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceDepartamentoSoap12" binding="tns:WebServiceDepartamentoSoap12">
      <soap12:address location="https://localhost:44323/WebServiceDepartamento.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>