CapaGUI/Connected Services/ServiceDepartamento/ServicioDepartamento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insertarDepartamento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="departamento" type="tns:Departamento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Departamento">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="insertarDepartamentoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertarDepartamentoSoapIn">
    <wsdl:part name="parameters" element="tns:insertarDepartamento" />
  </wsdl:message>
  <wsdl:message name="insertarDepartamentoSoapOut">
    <wsdl:part name="parameters" element="tns:insertarDepartamentoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioDepartamentoSoap">
    <wsdl:operation name="insertarDepartamento">
      <wsdl:input message="tns:insertarDepartamentoSoapIn" />
      <wsdl:output message="tns:insertarDepartamentoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioDepartamentoSoap" type="tns:ServicioDepartamentoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarDepartamento">
      <soap:operation soapAction="http://tempuri.org/insertarDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioDepartamentoSoap12" type="tns:ServicioDepartamentoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarDepartamento">
      <soap12:operation soapAction="http://tempuri.org/insertarDepartamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioDepartamento">
    <wsdl:port name="ServicioDepartamentoSoap" binding="tns:ServicioDepartamentoSoap">
      <soap:address location="https://localhost:44342/ServicioDepartamento.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioDepartamentoSoap12" binding="tns:ServicioDepartamentoSoap12">
      <soap12:address location="https://localhost:44342/ServicioDepartamento.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>